/* Sets up the variables for frequently used parameters */
:root{
    --h-font-color: #445877;
    --nav-h-color: #92ccce;
    --nav-color: #31343d;
    --dark-color: #1c1d21;
    --light-color: #eeeef7;
    --typ-font: Arial, Helvetica, sans-serif;  
}

/* Sets the display format to include padding and borderin the element's total width and height, 
and also removes the default padding and margin settings for the entire page contents  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the background color of the main block  */
body {
    background-color:var(--light-color);
    display:flex;
    flex-direction: column;
}

/* Creates padding on all sides of the header block and sets the font size, background color,
color and relative position  */
header {
    padding: 10px 0 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--nav-color);
    display: flex;
}

/* Displays the header element as block and sets the font size  */
header h1 {
    display:block;
    font-size: 40px;
    background-color: var(--nav-h-color);
    color: var(--dark-color);
    text-align: right;
    left: 0px;
    width: 350px;
}

/* Sets padding, margin and font of the nav bar */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 18px;
    width:75%;
}

/* Removes bullet symbols from the list */
header nav ul {
    list-style-type: none;
    justify-content: flex-end;
    float: right;
}

/* Sets the display of the list items and left margin */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Sets the color of the links and creates an underline */
header nav ul li a {
    color: var(--nav-h-color);
    text-decoration: none;
    border-bottom: solid 3px;
}

header nav ul li a:hover {
  color: var(--light-color);
  cursor: pointer;
  text-decoration: none;
}


/* Sets the display properties of the top/background figure element */
figure {
    height: 85vh;
    width: 100vw;
    margin-bottom: 25px;
    background-image: url("./images/intro_kat.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
    -o-background-size: cover;
    flex-shrink: 12;
}

/* Sets the properties of subtitle box */
.subtitle{
    position: absolute;
    background-color: var(--nav-h-color);
    color: var(--dark-color);
    text-align: center;
    padding: 15px;
    width: 250px;
    font-family: var(--typ-font);
    font-size: 24px;
    font-weight:bold;
    bottom:10px;
    right: 50px;
}


/* Sets margin, width and display parameters of the main block */
main {
    width: 100vw;
    margin-left: 10px;
    margin-right:10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}


/* Sets display properties: margin, padding , heights, font, color, etc */
.content_item {
    margin-bottom: 20px;
    padding: 10px;
    font-family: var(--typ-font);
    display:flex;
    width: 99vw;
    color: var(--h-font-color);
}

/* Sets the display options and parameters of the headings of sections inside the main body */
.content_item h1 {
    width: 20%;
    text-align: right;
    font-size: 40px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: var(--typ-font);
    color: var(--h-font-color);
    border-right: solid var(--h-font-color);
}


/* Sets the display properties of the container inside each section */
div{
    display:flex;
    flex-direction:column;
    padding-left: 30px;
    width: 80%;
}


/* Sets the parameters of the title of each project inside work section */
h3{
    position: absolute;
    background-color: var(--nav-h-color);
    color: var(--dark-color);
    opacity:1;
    text-align: left;
    padding: 8px;
    font-family: var(--typ-font);
    font-size: 0.9em;
    font-weight:bold;
    bottom: 15px;
    left: 0px;
}

/* Sets parameters of the short description of each project inside work section */
h3 .sm {
    color: var(--dark-color);
    font-size: 0.5em;
}

/* Sets the display options and the properties of the "row" that constains two small items in the work section */
.small_box{
    height: 400px;
    margin-bottom:10px;
    display:flex;
    justify-content:space-between;
}

/* Sets the display options and the properties of the small item in the work section */
.inner_box{
    width: 49%; 
    height: 100%;
    flex-shrink: 4;
    background: rgba(0,34,36);
    background: linear-gradient(90deg, rgba(0,34,36,1) 0%, rgba(29,157,127,1) 35%, rgba(0,212,255,1) 100%);
    opacity:0.8;
    border: solid var(--nav-h-color);
    margin-bottom:10px;
    position: relative;
    max-width: 100%;
    display: block;
    max-height: 100%;
}

/* Sets the properties of the background images of the Weather Dashboard item in the work section */
#weather, 
#planner,
#quiz,
#celeb,
#optimization,
#classifier,
#monte_carlo,
#seismic,
#readme,
#team,
#dance_db,
#note_taker
{
    background-position: center;
    background-size: cover;
    max-width: 100%;
    display: block;
    max-height: 100%;
    flex-shrink: 4;
}


/* Sets the background image of the Dance Classes item in the work section */
#dance_db{
    background-image: url("./images/dance_db.png");
}
/* Sets the background image of the Dance Classes item in the work section */
#note_taker{
    background-image: url("./images/note_taker.jpg");
}
/* Sets the background image of the Celebrity Checker item in the work section */
#celeb{
    background-image: url("./images/proj1.JPG");
}
/* Sets the background image of the Weather Dashboard item in the work section */
#weather{
    background-image: url("./images/weather_dashboard.JPG");
}

/* Sets the background image of the Time Planner item in the work section */
#planner{
    background-image: url("./images/planner.JPG");
}

/* Sets the background image of the Coding Quiz item in the work section */
#quiz{
    background-image: url("./images/quiz.JPG");
}

/* Sets the background image of the Passord Generator item in the work section */
#optimization{
    background-image: url("./images/optimization.JPG");
}

#classifier {
    background-image: url("./images/classifier.JPG");
}

#monte_carlo {
    background-image: url("./images/mc_sim.JPG");
}

#seismic {
    background-image: url("./images/building_seismic.JPG");
}
#readme {
    background-image: url("./images/readme.png");
}
#team {
    background-image: url("./images/team.jpeg");
}


/* Sets the font size of paragraphs */
p {
    font-size: 18px;
    line-height: 1.5;
}

/* Sets display properties of the contact details nav bar */
.content_item div nav {
    padding-top: 30px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
    justify-items: center;
}

/* Removes bullet symbols from the list and spaces the items evenly in a row */
.content_item div nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

/* Displays items as a block */
.content_item div nav ul li {
    display: inline-block;
}

/* Sets the display properties of list items */
.content_item div nav ul li a {
    text-decoration: none;
    color: var(--h-font-color);
    border-bottom: solid 3px;
}


/* Sets content highlight color and background */
::selection {
    background-color: var(--nav-h-color);
    color: var(--nav-h-color);
    opacity:1
}
/* On click, select all contents so the code is highlighted */
.large_box:active {
    user-select: all;
}

/* Sets an outer and inner drop shadow on the element to create a glowing effect on hover */
.large_box:hover,
.inner_box:hover{
  box-shadow: inset 0px 0px 8px var(--nav-h-color), 0 0 15px var(--nav-h-color);
  opacity:1;
  cursor: pointer
}

/* Changes the font size as the width of the screen reduces to 950px */
@media screen and (max-width:950px){
    figure {
        height: 30vh;
    }
    .content_item h1,
    header h1 {
        font-size: 24px;
    }

    p{
        font-size: 18px; 
    }
    header nav, 
    .content_item div nav{
        font-size: 14px;
    }
    .content_item h1{
        margin-left: 5px;
        margin-right: 5px;
    }
    header,
    header nav {
      display:flex;
      flex-direction: column;
    }
    header nav ul {
        justify-content: flex-start;
    }
    header{
        padding: 5px 10px 5px 10px;
    }
    header h1{
        width: 250px;
    }

}

@media screen and (max-width: 768px) {
    .content_item h1,
    header h1 {
        font-size: 20px;
    }
    p{
        font-size: 14px; 
    }
    header,
    header nav, 
    header nav ul{
      display:flex;
      font-size: 12px;
    }

    header nav ul li{
        margin-left: 10px;
    }
    header{
        padding: 5px;
    }
    
    .content_item h1{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 16px;
    }
    .subtitle{
        display: none;

    }
    .content_item div nav ul{
        flex-direction: column;
    }
    .content_item div nav {
        padding-top: 0px;
        font-size: 12px;
    }
    .small_box {
        flex-direction: column;
        height:600px;
    }
    .inner_box {
        width: 90%;
    }
  }

  @media screen and (max-width: 414px) {

    
    .content_item h1{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 14px;
    }
    .subtitle{
        display: none;

    }
    .content_item div nav ul{
        flex-direction: column;
    }

    .small_box {
        flex-direction: column;
        height:300px;
    }
    .inner_box {
        width: 90%;
    }
  }




